:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color-scheme: light dark;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  line-height: inherit;
  position: fixed;
  color: var(--base-text-color);
}

a {
  font-weight: 500;
  color: var(--color-text-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-text-link-hover);
}

.custom-popover .ant-popover-inner {
  padding: 4px;
}

/*::-webkit-scrollbar {*/
/*  width: 8px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*  background: transparent;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*  background-color: color-mix(in srgb, var(--base-text-color) 40%, transparent);*/
/*  border-radius: 9999px;*/
/*}*/