:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  line-height: normal;
}

a {
  font-weight: 500;
  color: var(--color-text-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-text-link-hover);
}

.custom-popover .ant-popover-inner {
  padding: 4px;
}