:root[data-theme="dark"] {
  --color-primary: #5a54e0;
  --color-hover: rgba(255, 255, 255, 0.2);
  --color-bg: #000000;
  --color-text-content: #ffffff;
  --color-surface-bg:
    linear-gradient(217deg, rgba(34, 39, 49, 1), rgba(34, 39, 49, 0.5) 70.71%),
    linear-gradient(127deg, rgba(34, 39, 49, 1), rgba(34, 39, 49, 0.5) 70.71%),
    linear-gradient(336deg, rgba(53, 60, 72, 1), rgba(34, 39, 49, 0.5) 70.71%);

  /** text */
  --base-text-color: #ffffff;
  --color-text-title: #f9fafb;
  --color-text-subtitle: #d1d5db;
  --color-text-body: #9ca3af;
  --color-text-muted: #6b7280;
  --color-text-link: #646cff;
  --color-text-link-hover: #535bf2;
  --color-text-error: #ff4d4f;

  --border-color: #454545;
  --active-color: #484554;
}
