:root {
  --color-primary: #6c63ff;
  --color-hover: rgba(0, 0, 0, 0.2);
  --color-primary-active: #00c9a7;
  --color-primary-hover: #c4fcef;
  --color-bg: #ffffff;
  --color-text-content: #000000;
  --color-text-primary: #d3d3d3;
  --color-surface-bg: radial-gradient(
    circle at top left,
    #394c6c 0%,
    #3b4c6d 10%,
    #2f3a56 20%,
    #252f4a 30%,
    #27324e 100%
  );

  /** text */
  --base-text-color: #242424;
  --color-text-title: #1f2937;
  --color-text-subtitle: #4b5563;
  --color-text-body: #6b7280;
  --color-text-muted: #9ca3af;
  --color-text-link: #646cff;
  --color-text-link-hover: #535bf2;
  --color-text-error: #ff4d4f;

  --border-color: #eff0f2;
  --active-color: #fcf7ff;
}
